#wrapper{
    margin:0 200px 200px 200px;
}
#heading{
    
    text-align: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
   
}
nav li{
    padding-right: 80px;
    
}
nav{
    position: relative;
    left: 300px;
}
nav a{
    color: black;
    text-transform: capitalize;
    font-weight: 300;
    font-family: 'Piazzolla', serif;
}
.hr1{
    border-top: 1px solid black;
    width: 75%;
    margin-top: -10px;
}
.hr2{
    border-top: 1px solid black;
    width: 75%;
    margin-top: 70px;
    margin-bottom: 30px;
}
.hr3{
    border-top: 1px solid black;
    width: 75%;
    margin-top: 100px; 
}
#subnav a{
    color: black;
    font-size: 1.4rem;
    font-family: 'Piazzolla', serif;
    position: relative;
    left: 430px;
    top: 30px;
    padding-right: 150px;
    font-weight: 400;
    text-transform: capitalize;
   }
#subnav a:hover{
    color: cornflowerblue;
    text-decoration: none;
}

/*images*/
.container{
    margin-left: 300px;
    margin-top: -100px;
}
#bridal-images{
   
    box-sizing: border-box;
   
}
img{
    width: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/*last section*/
#lastwrapper{
    margin:0 200px 200px 200px; 
}
#lastsection{
    position: relative;
    left: 130px;
}
#lastsection h3{
    
    text-transform: capitalize;
    font-weight: 300;
    font-size: 2.3rem;
    position: relative;
    left: 300px;
}
#lastsection p{
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;

}

#form2 input{
    width: 230px;
    padding: 10px;
}
#submit{
    width: 100px !important;
    background-color: black;
    color:white;
    text-transform: uppercase;
}
